body {
    font: sans-serif;
    margin: 100px;
    width: auto;
    color: gray;

}

.main-page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;


}

h1 {
    font-weight: 100;

}

.header {
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #999999;
    font-size: 4vmin;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 100%;
    height: auto;
}


.heading-image img {
    object-fit: contain;
    height: 12vmin;
}

.title {
    margin-left: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
}

.breaking-news {
    background-image: url(./images/dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-size: 100% 100%;
    background-position: center center;
    width: 100%;
    height: 80%;
    position: relative;
}

.breaking-news-text {
    width: 100%;
    color: aliceblue;
    background-color: #bdbfc1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.news-image img {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    object-fit: cover;

}

.top-news {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #8d9096;
}

.news-list h4 {
    padding-bottom: 15px;
    border-bottom: 2px solid #8d9096;

}

table {
    margin: 10px 0px 20px 0px;
    width: 100%;
}

th {
    padding: 10px 0px 10px 0px;
}

td {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.weather-card div img {
    height: 100px;
}

.weather-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-card div h4 {
    text-align: center;
}

.weather-card div h3 {
    text-align: center;
}

.weather-today {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.latest-news-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #8d9096;
}

.latest-news-summary div img {
    margin-right: 12px;
}

.footer {
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.footer h4 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 15px;

}

footer {
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;

}

.latest-news-summary div {
    clear: left;
    margin: 30px;

}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    body {
        font: sans-serif;
        margin: 20px;
        width: auto;
        color: gray;

    }

    .header {
        padding-bottom: 5px;
    }

    .main-page {
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
    }

    .title {
        font-size: 20px;

    }

    .nav-bar {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .breaking-news-text {
        background-color: #0009;
    }

    .breaking-news {
        display: inline-block;
        width: 50%;
        height: 40%;
        margin-bottom: 15px;
    }

    .top-news {
        margin-bottom: 25px;
    }

    .news-list h4 {
        margin-bottom: 15px;
        border-bottom: 2px solid #8d9096;

    }

    .weather-card div img {
        height: 50px;
        display: block;
    }

    .weather-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .weather-card div h4 {
        text-align: center;
    }

    .weather-card div h3 {
        text-align: center;
    }

    .weather-today {
        display: flex;
        align-items: center;
        margin-left: 35px;
    }


    .weather-today {
        display: flex;
        align-items: center;
        margin-left: 35px;
    }

    .weather-today {
        margin: 0px;
        width: 100%;
    }
    .weather-location {
        padding: 0;
        margin: 0;
    }

    .weather {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 40%;
        top: 0;
        right: 0;
        
    }

    .weather-location {
        margin-left: 20px;
    }

    .weather-today div img {
        width: 150px;
    }

    .weather-card div h3 {
        font-size: 15px;
    }

    .weather-card div img {
        width: 50px;
        height: 50px;
    }

    
}

@media only screen and (max-width: 480px) {
    body {

        margin: 2px;
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .breaking-news {
        height: 50%;
        background-size: 100% 100%;
    }

    .breaking-news-text {
        background-color: #0009;
    }

    .weather-card {
        flex-wrap: wrap;
    }

    .footer {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

}